if ( RunCommand( Cmd => "/usr/sbin/rcctl get httpd status" ) >> 8 == 1 )
{
  RunCommand( Cmd => "/usr/sbin/rcctl set httpd status on" );
}

#RunCommand( Cmd => "/usr/sbin/rcctl set slowcgi status on" );

if ( FetchFile(Source => "/services/httpd.conf",
  Dest   => "/etc/httpd.conf",
  Owner  => "root",
  Group  => "wheel",
  Mode   => "644",
  Expand => "false",
  Backup => "false") )
{
  RunCommand( Cmd => "/usr/sbin/rcctl restart httpd" );
}

# LetsEncrypt
# you have to run `acme-client -vAD www.ideasyncratic.net` once to get going 
FetchFile(Source => "/services/acme-client.conf",
  Dest   => "/etc/acme-client.conf",
  Owner  => "root",
  Group  => "wheel",
  Mode   => "644",
  Expand => "false",
  Backup => "false");

my $cron = Cron->new();
if ( $cron->check("root", "acme-client www.ideasyncratic.net") == 0 )
{
  $cron->add("root", '1 0 * * * acme-client www.ideasyncratic.net && rcctl reload httpd');
}

# Web content
my @ideasyncratic_files = ('brain.jpg', 'index.html', 'resume.html');
foreach (@ideasyncratic_files) {
  FetchFile(Source => "/www/$_",
    Dest => "/var/www/htdocs/$_",
    Owner => "buckelij",
    Group => "buckelij",
    Mode => "644",
    Expand => "false",
    Backup => "false");
}
