#spamd

if ( RunCommand( Cmd => "/usr/sbin/rcctl get spamd status" ) >> 8 == 1 )
{
  RunCommand( Cmd => "/usr/sbin/rcctl set spamd status on" );
}


if ( RunCommand( Cmd => "/usr/sbin/rcctl check spamd" ) >> 8 == 1 )
{
  RunCommand( Cmd => "/usr/sbin/rcctl start spamd" );
}

#smtpd

if ( RunCommand( Cmd => "/usr/sbin/rcctl get smtpd status" ) >> 8 == 1 )
{
  RunCommand( Cmd => "/usr/sbin/rcctl set smtpd status on" );
}

if ( FetchFile(Source => "/services/mail/ideasyncratic",
  Dest   => "/etc/mail/ideasyncratic",
  Owner  => "root",
  Group  => "wheel",
  Mode   => "644",
  Expand => "false",
  Backup => "false") )
{
  RunCommand( Cmd => "/usr/sbin/makemap -t aliases /etc/mail/ideasyncratic" );
}

if ( ! -e "/etc/mail/sgauth" )
{
  RunCommand( Cmd => "echo "apikey STUB" > /etc/mail/sgauth" );
  print "please set sendgrid apikey in /etc/mail/sgauth\n";
}
elsif ( RunCommand( Cmd => "/usr/bin/grep 'apikey STUB' /etc/mail/sgauth" ) >> 8 == 0 )
{
  print "please set sendgrid apikey in /etc/mail/sgauth\n";

}

if ( FetchFile(Source => "/services/mail/smtpd.conf",
  Dest   => "/etc/mail/smtpd.conf",
  Owner  => "root",
  Group  => "wheel",
  Mode   => "644",
  Expand => "false",
  Backup => "false") )
{
  RunCommand( Cmd => "/usr/sbin/rcctl restart smtpd" );
}


if ( FetchFile(Source => "/services/mail/spamd.conf",
  Dest   => "/etc/mail/spamd.conf",
  Owner  => "root",
  Group  => "wheel",
  Mode   => "644",
  Expand => "false",
  Backup => "false") )
{
  RunCommand( Cmd => "/usr/sbin/rcctl restart spamd" );
}

my $cron = Cron->new();
if ( $cron->check("root", "/usr/libexec/spamd-setup") == 0 )
{
  $cron->add("root", '0 * * * * sleep $((RANDOM \% 2048)) && /usr/libexec/spamd-setup');
}
